/*=======================================
    #Variables
=========================================*/

/**
  TABLE OF CONTENTS

  COLORS
  Brand colors............................These are the main brand colors.
  Neutral colors..........................White and black, gray sacale, secondary colors.
  Utility colors..........................Other colors to represent states: info, warning, sucess, etc.

  TYPOGRAPHY
  Font famillies..........................The fonts used in the design system.
  Font weights............................Font weights
  Sizes...................................Font sizing for body text, paragraphs, inputs
  Heading sizes...........................Font sizing for page headings

  BREAKPOINTS
  Breakpoints.............................Global responsive breakpoints definitions
*/

:root {
  /*=======================================
    COLORS
  =========================================*/

  /*=========================
    Brand Colors
  ==========================*/
  --primary: #2292b1;
  --gradient-start: #1b3385;
  --gradient-end: #25c5c9;

  /*=========================
    Neutral Colors
  ==========================*/
  --background: #0a0c11;
  --body-text: #abadb3;
  --border-color: #323438;
  --sub-menu-bg: #222;
  --white: #fff;

  /*=========================
    Utility Colors
  ==========================*/

  /*=======================================
    TYPOGRAPHY
  =========================================*/
  /* 
    1. The Poppins font. This is the main font.
    https://fonts.googleapis.com/css?family=Poppins

    2. The Courier font. This is used for <pre> code.
    https://fonts.googleapis.com/css?family=Poppins
  */

  /*=========================
    Font famillies
  ==========================*/
  --primary-font: "Poppins";

  /*=========================
  Font weights
  ==========================*/
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --heavy: 900;

  /*=========================
  Sizes
  ==========================*/
  --base-font: 20px;
}

/*=======================================
    RESETS
=========================================*/
body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--base-font);
  color: var(--body-text);
  background: var(--background);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*=========================
  Heading Sizes
==========================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: var(--medium);
  color: var(--white);
  margin: 0;
}

h1 {
  font-size: 4em;
  line-height: 1.5em;
}
h4,
h5 {
  font-weight: var(--bold);
}

h6 {
  font-weight: var(--semi-bold);
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

a {
  color: var(--body-text);
  text-decoration: none;
  font-size: 0.9em;
  font-style: normal;
  font-weight: var(--normal);
  line-height: 2.4em;
  text-transform: capitalize;
}

a:hover,
.logo:hover {
  color: var(--primary);
}

.selected {
  color: var(--primary);
}

.lowlight {
  opacity: 0.5;
}

/*=======================================
    Mobile First
=========================================*/
.blocks {
  padding: 0 28px;
}

.blocks * {
  border: 1px solid var(--body-text);
}

header {
  display: flex;
}

.logo {
  flex: 3;
}

.mobile {
  flex: 1;
}

.desktop {
  display: none;
}

.social {
  flex: 3;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

main > * {
  display: flex;
  justify-content: center;
}

.our-services {
  margin: 42px 0;
}

.big-numbers {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 42px;
}

.number-box {
  display: flex;
  flex-direction: column;
}

.number-box > * {
  display: flex;
  justify-content: center;
}

/*=======================================
    TABLET & DESKTOP BREAKPOINTS
=========================================*/
@media all and (min-width: 479px) and (max-width: 1280px) {
}

@media all and (min-width: 479px) {
  .blocks {
    padding: 0 88px;
  }

  .logo {
    flex: 1;
  }

  .mobile {
    display: none;
  }

  .desktop {
    flex: 3;
    display: flex;
    justify-content: center;
  }

  .social {
    flex: 1;
  }

  .our-services {
    display: flex;
    margin: 131px 0;
  }

  .big-numbers {
    flex-direction: row;
    gap: 40px;
    padding: 0 80px;
    margin-bottom: 131px;
  }

  .big-numbers > * {
    flex: 1;
  }

  .our-services > * {
    flex: 1;
  }
  .our-services .our-services-layout {
    padding: 0 12%;
  }
}
